# Data Types in Python

Data belongs to different categories. It can be numeric, text, true/false, complex numbers, date, time etc. Data should be stored correctly for us to be able to do the desired operations on the data. If the data is stored incorrectly, for example numerical data is stored as text data, we can not do numerical or arithmetic operations on the data because the methods and the operations for a data depend largely on the type of data (object) being referred to.

There are various data types in Python. Listed below are the most prominently used ones:
1. Numeric - This is further divided into 
    (a.) Integer
    (b.) Float
    (c.) Complex
    
2. String => "My name is roshna"
 
3. Boolean => True or False

## Numeric Data Type

As the name suggests, Numeric data type consists of numbers. These numbers can be whole numbers, decimal numbers or complex numbers.

Whole numbers are stored in Integer (Int) type.

Decimal numbers are stored in Float (Float64) type.

Complex numbers are stored in Complex type.

You will find Integer and Float type being used most of the times.

You can check the data type of an object using the type() command.

In [1]:
#Let's look at some examples.

Integer = 7
type(Integer)

int

In [2]:
Float = 2.356
type(Float)

float

In [3]:
Complex = 3.908J
type(Complex)

complex

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [15]:
# Printing your name

My_Name = "My name is Roshan!"
My_Name

'My name is Roshan!'

In [5]:
type(My_Name)

str

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [6]:
# Let's check how many characters does your name contain.
len(My_Name)

19

In [7]:
# Let's see if My_Name is all Caps or not. 
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.

My_Name.isupper()

False

In [8]:
# Let's convert My_Name to all caps.

My_Name = My_Name.upper()
My_Name

'MY NAME IS JUPYTER!'

In [9]:
# Now the output of isupper() changes to True.
My_Name.isupper()

True

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [31]:
# Let's look at examples.

x = True
y = False

In [32]:
type(x)

bool

In [33]:
type(y)

bool

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [37]:
# Consider an object containing an integer.
"My age is 100"
string1 = 1

In [38]:
type(string1)

int

In [44]:
# I want to use the value 1 as a text value. So let's convert it.
string1 = str(string1)

In [45]:
type(string1)

str

In [47]:
# Let's do the opposite now. Let's learn to convert string to float now.

In [53]:
int1 = "500"
type(int1)

str

In [55]:
int1 = int(int1)
type(int1)

int