### Data Types

Data  types are  the  classification  or  categorization  of data items.Variables can  hold values of different data types and different data types can do different things. The most important datatypes are Integer,float,string,Boolean

Below are the details of these datatypes:
    
    ●Integer (int)- Integer means a non-decimal point numeric number. Integer can take both negative and positive values. Eg--4,6,10,-50,6513
    ● Float- The float type in Python designates a floating-point number.float values are specified  with  a  decimal  point.  Float  can  take  both  negative  and  positive values.Eg –5.4,-2.1113,1.1,-73.87
    ● String(str)- Strings are sequences of character data. Strings may contain alphabets or numbers ora combination of both. Strings literals may be delimited using single or double  quotes.  All  the  characters between  the  opening  delimiter and the closing delimiter are a part of the string. Eg-“Hello World”,‘Myname is John’, “My area pin-code is 121121”
    ● Boolean(bool)- Boolean means True or False. An object can take a value of True or a value of False.
    
To  check  the  data  typeof  a  variable,  usetype function ‘type()’.

Below  are  a  few examples on function `type()`

In [16]:
number = 7
type(number)

int

In [4]:
Float = 2.88
type(Float)

float

In [5]:
Complex = 3.908J
type(Complex)

complex

In [13]:
String = '2.3'
type(String)

str

In [15]:
x = False 
type(x)

bool

### Collection of Variables

#### List

A collection of items of any data type

- Mutable (can be edited)
- Supports Indexing

In [49]:
number = 10
floatNumber = 2.5

List_example = [2.4, 5.5, 7.9, 9.11, "ROSHAN", True]

List_example

[2.4, 5.5, 7.9, 9.11, 'ROSHAN', True]

In [50]:
List_example

[2.4, 5.5, 7.9, 9.11, 'ROSHAN', True]

In [51]:
List_example[3] = 1000 # List of 0

In [52]:
List_example

[2.4, 5.5, 7.9, 1000, 'ROSHAN', True]

In [53]:
List_example

[2.4, 5.5, 7.9, 1000, 'ROSHAN', True]

In [54]:
List_example[-1] = 70

In [55]:
List_example

[2.4, 5.5, 7.9, 1000, 'ROSHAN', 70]

In [58]:
List_example[-2] = -999

In [59]:
List_example

[2.4, 5.5, 7.9, 8.9, -999, 70]

In [46]:
# a list is an ordered and indexed collection of values that are changeable and allows duplicates

simple_list = ['Raj',1,2,3,'python']

print(simple_list)

print(simple_list[0])

print(simple_list[3])

print(simple_list[-1])

print(simple_list[-5])

print(len(simple_list))

['Raj', 1, 2, 3, 'python']
Raj
3
python
Raj
5

In [60]:
print(simple_list[-1])

python

In [84]:
list_ex = [10, 20, 30, 40 , 50] # CREATE

In [87]:
list_ex

[10, 20, 30, 1000, 50]

In [88]:
list_ex[3] = 1000 # UPDATE

In [89]:
list_ex # SELECT

[10, 20, 30, 1000, 50]

In [90]:
list_ex.append("MY NAME IS JHON")

In [91]:
list_ex

[10, 20, 30, 1000, 50, 'MY NAME IS JHON']

In [92]:
list_ex.pop(3) #DESTROY

1000

In [93]:
list_ex

[10, 20, 30, 50, 'MY NAME IS JHON']

In [95]:
list_ex.pop(100)

IndexError: pop index out of range

In [32]:
list_ex

[20, 30, 50, 999]

In [96]:
# it is easy to change entries of a list
simple_list[3] = 52

print(simple_list[3]) # index is based on 0!!!

simple_list.append('to the back')
print(simple_list)

print(len(simple_list))

simple_list.pop(4)

print(simple_list)

52
['Raj', 1, 2, 52, 'python', 'to the back']
6
['Raj', 1, 2, 52, 'to the back']

#### Accessing data in lists

A list is the main data type we will use for now and there are some rules we need to remember for accessing data in lists.

In [97]:
list_ex

[20, 30, 50, 'MY NAME IS JHON']

In [99]:
simple_list = [1,5,2,7,3,66,1923,11]

In [100]:
simple_list

[1, 5, 2, 7, 3, 66, 1923, 11]

In [101]:
# we can access multiple values in the list using the :
print(simple_list[2:5])

[2, 7, 3]

In [102]:
print(simple_list[-5:-1])

[7, 3, 66, 1923]

In [33]:



# why isn't 66 in the output?
# the number to the left of the : is inclusive, but the number to the right is exclusive
print(simple_list[2:3])

# we can also use negative numbers
print(simple_list[-5:-1])

[2, 7, 3]
[2]
[7, 3, 66, 1923]

In [34]:
simple_list = [1,5,2,7,3,66,1923,11]

# we can access multiple values in the list using the :
print(simple_list[2:5])

[2, 7, 3]

In [36]:
List_example = [1,2,3,4]
type(List_example)

list

In [38]:
List_example[0] = 10

In [35]:
Tuple_example = (1,2,3,4)
type(Tuple_example)

tuple

In [37]:
Tuple_example[0] = 10

TypeError: 'tuple' object does not support item assignment

#### Set

A set in python is like a mathematical set. It does not hold duplicate values and arranges in ascending order

- Mutable (can be edited)
- Does not Supports Indexing in python

In [115]:
Set_example = {99999,5,1,2,3,4,4,4,4,4,4,4,4, "roshan"}
type(Set_example)

set

In [116]:
Set_example

{1, 2, 3, 4, 5, 99999, 'roshan'}

In [106]:
List_example = [5,1,2,3,4,4,4,4,4,4,4,4, "rhs"]

In [107]:
List_example

[5, 1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 4, 'rhs']

In [108]:
List_example[1]

1

#### Dictionary 

A Python dictionary contains key-value pairs just like a real-worlddictionary has word and its meaning pair

- Mutable (can be edited)
- Supports Indexing using keys

In [4]:
# key:value pair
Dictionary_example = {
    1: 'January', 
    2: 'Feb', 
    "hfdhfduf": 'March',
    4: 'April'
}
type(Dictionary_example)

dict

In [5]:
Dictionary_example

{1: 'January', 2: 'Feb', 'hfdhfduf': 'March', 4: 'April'}

In [6]:
Dictionary_example["hfdhfduf"]

'March'

In [129]:
Dictionary_example

{1: 'January', 2: 'Feb', 'hfdhfduf': 'March', 4: 'April'}

In [7]:
Dictionary_example[3] = "JOHN"

In [8]:
Dictionary_example

{1: 'January', 2: 'Feb', 'hfdhfduf': 'March', 4: 'April', 3: 'JOHN'}

### Flow Control

1. Loops
2. Conditions

#### Loops

Loop is a sequence of instructions that is continually repeated until a certain condition is reached.

In [1]:
# For-Loops

counter = 0
simple_list = [0,1,2,3,4,5,6,7,8,9,10]

for i in simple_list:
    # the only lines that get executed in this loop are tabbed correctly!!!
    # indentations
    print(i)
    counter = counter + 1

print('this line is not inside the loop')
print('the loop cycled',counter,'times')

0
1
2
3
4
5
6
7
8
9
10
this line is not inside the loop
the loop cycled 11 times

In [2]:
for i in simple_list[1:4]: # [1,2,3]
    for j in simple_list[4:7]: # [4,5,6]
        print(i*j) # 2 * 6
    print('outside of j loop')
print('outside of both loops')

4
5
6
outside of j loop
8
10
12
outside of j loop
12
15
18
outside of j loop
outside of both loops

In [3]:
# we may just want to loop over a range of values
# we can do this with a 'range' type
six_list = [0,1,2,3,4,5]

print(range(6))

range(0, 6)

In [4]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [5]:
# we can specify the starting point of a range also
# remember that the left value is inclusive and the right value is exclusive
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [6]:
# we can also increment by a specific amount

[2,3,4,5,6,7,8,9]

for i in range(2,10,2):
    print(i)

2
4
6
8

In [7]:
# we can convert a range type to a list though
list(range(6,15,3))

[6, 9, 12]

In [8]:
# while loops are similar to most other languages
# but the inside of the while loop is still determined by tabs
i = 4
while i < 10: # 4 < 10
    print(i)
    i = i + 1 # i = 5
print('outside of loop')

4
5
6
7
8
9
outside of loop

#### Conditions

Conditional statements are used through the various programming languages to instruct the computer on the decision to make when given some conditions.

1. if statement
2. else statement
3. elif statement

In [9]:
i = 5
if i < 10:
    print(i,'is less than 10')
else:
    print(i,'is greater than 10')

5 is less than 10

In [10]:
i = 1
if i > 10:
    print(i,'is greater than 10')
elif i < 3:
    print(i,'is less than 3')
elif i > 4:
    print(i)
else:
    print(i,'is between 3 and 10')

1 is less than 3